{% extends 'base.html' %}

{% block content %}

  <datalist id="namelist">
    {% for user in users %}
      <option value="{{ user.username }}">#{{ user.rollno }} {{ user.name }} {{ user.class_section }}</option>
    {% endfor %}
  </datalist>


  <div class="form">
    <form action="" method="POST" class="styled-form">
      <fieldset>
        <legend>Borrow A Book</legend>
        {{ form.hidden_tag() }}
        <div class="form-grid">
        {{ form.usn.label }}
        {% if form.usn.errors %}
          {{ form.usn(autocomplete = 'off') }}

          {% for error in form.usn.errors %}
            {% for line in error.split('-linebreak-') %}
              <span class="form-error">{{ line }}</span>
            {% endfor %}
          {% endfor %}
        {% else %}
          {{ form.usn(autocomplete = 'off', placeholder='Start typing..', list='namelist') }}
        {% endif %}
        {{ form.book_id.label }}
        {% if form.book_id.errors %}
          {{ form.book_id(autocomplete = 'off') }}

          {% for error in form.book_id.errors %}
            <span class="form-error">{{ error }}</span>
          {% endfor %}
        {% else %}
          {{ form.book_id(autocomplete = 'off') }}
        {% endif %}
        </div>
        <div class="submit-btn">{{ form.submit }}</div>
      </fieldset>
    </form>
  </div>
{% endblock %}
