{% extends 'base.html' %}

{% block content %}
  <form action="" method="POST" class="styled-form">
    <fieldset>
      <legend>Generate Reports</legend>
      {{ form.hidden_tag() }}

      {{ form.report_type.label }}
      {% if form.report_type.errors %}
        {{ form.report_type(autocomplete = 'off') }}

        {% for error in form.report_type.errors %}
          {% for line in error.split('-linebreak-') %}
            <span class="form-error">{{ line }}</span>
          {% endfor %}
        {% endfor %}
      {% else %}
        {{ form.report_type(autocomplete = 'off') }}
      {% endif %}
      <br />

      <div class="submit-btn">{{ form.submit }}</div>
    </fieldset>
  </form>
{% endblock %}
