{% extends 'base.html' %}

{% block content %}
  <form action="" method="POST" class="styled-form textarea-form">
    <fieldset>
      <legend>Suggest a Book</legend>
      {{ form.hidden_tag() }}

      <div class="form-grid">{{ form.book.label }}
        {{ form.book(autocomplete = 'off') }}

        {{ form.author.label }}
        {{ form.author(autocomplete = 'off') }}

        {{ form.reason.label() }}
        {{ form.reason(autocomplete = 'off') }}</div>
      <div class="submit-btn">{{ form.submit }}</div>
    </fieldset>
  </form>
{% endblock %}
