{% extends "base.html" %}

{% block content %}

<div class="upload-details">
    <h2>Upload Book List</h2><br>
    <p>
        Excel sheet of new book details can be uploaded through this form. Please make sure 
        it adheres to the format <a href="{{ url_for('static', filename='samples/booklist_sample.xlsx')}}" download>(download sample).</a> 
        In case of conflicting accession numbers, an error will be raised.
    </p>

    <br>

    <form action="" method="POST" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Upload" id="upload"></p>
    </form>
    
</div>

{% endblock content %}
