{% extends 'base.html' %}

{% block content %}

<div class="table-div">
  <table class="admin-logs">
    <tr>
      <th>ID</th>
      <th>Student name</th>
      <th>Late book</th>
      <th>Due Date</th>
      <th>Date returned</th>
      <th>Days late</th>
      <th>Amount due</th>
      <th>Is Paid?</th>
    </tr>
    {% for log in logs %}
    {% if log.is_paid %}
    <tr class="borrowed-row">
      {% else %}
    <tr class="overdue-row">
      {% endif %}
      <td>{{ log.id }}</td>
      <td>{{ log.user.name }}</td>
      <td>
        <a href="{{ url_for('view_entity', ac_number = log.entity.accession_number) }}">{{ log.entity.title }} by {{
          log.entity.author }}</a>
      </td>
      {% if log.due_date %}
      {% set ddate = log.due_date %}
      {% set duedate = log.date_returned %}

      <td>{{ ddate.strftime('%d/%m/%Y') }}</td>
      <td>{{ duedate.strftime('%d/%m/%Y') }}</td>
      {% else %}
      <td>NA</td>
      <td>NA</td>
      {% endif %}
      {% if log.days_late %}
      <td>{{ log.days_late }} days late</td>
      {% else %}
      <td>Damage/Lost</td>
      {% endif %}

      {% if log.is_paid %}
      <td>
        {{ log.fine_amount }} Rs.
      </td>
      {% else %}
      <td>
        {{ log.amount_currently_due }} Rs.
      </td>
      {% endif %}

      {% if not log.is_paid %}
      <td><a href="{{ url_for('fine_received', usn=log.user.username) }}">Due</a></td>
      {% else %}
      <td>Paid</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}