{% extends 'base.html' %}

{% block content %}
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->

  <div class="table-div">
    <table class="admin-logs">
      <tr>
        <th>Sl no</th>
        <th>Action</th>
        <th>Performed by</th>
        <th>Date performed</th>
        <th>Time performed</th>
      </tr>
      {% for log in logs %}
        <tr>
          <td>{{ log.id }}</td>
          <td>{{ log.action }}</td>
          <td>{{ log.username }}</td>
          {% set time = log.time %}
          <td>{{ time.strftime('%d/%m/%Y') }}</td>
          <td>{{ time.strftime('%I:%M %p') }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
