{% extends 'base.html' %}

{% block content %}

<div class="form">
    <form action="" method="POST" class="login-form">
        <fieldset>
            <legend>Log In</legend>
            {{ form.hidden_tag() }}
            {{ form.username.label }}
            {% if form.username.errors %}
                {{ form.username(autocomplete='off') }}
                {% for error in form.username.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.username(autocomplete='off') }}
            {% endif %}
            <br>
            {{ form.password.label }}
            {% if form.password.errors %}
                {{ form.password(autocomplete='off') }}
                {% for error in form.password.errors %}
                    <span class="form-error">{{ error }}</span>
                {% endfor %}
            {% else %}
                {{ form.password(autocomplete='off') }}
            {% endif %}
            <br>
            <div class="submit-btn">{{ form.submit }}</div>
        </fieldset>
    </form>
</div>

{% endblock content %}