<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <title>Shelf Master</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <span class="{{ category }}">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>SHELF MASTER</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('borrow') }}">Borrow a Book</a></li>
            <li><a href="{{ url_for('return_') }}">Return a Book</a></li>
        </ul>
    </nav>

    <br><br>
    <hr>

    {% block content %}
    {% endblock %}
</body>

</html>