{% extends 'base.html' %}

{% block content %}
<form action="" method="POST">
    {{ form.hidden_tag() }} <!-- CSRF Token -->

    {{ form.usn.label }}
    {% if form.usn.errors %}
        {{ form.usn }}
        
        {% for error in form.usn.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    {% else %}
        {{ form.usn }}
    {% endif %}
    <br>
    {{ form.book_id.label }}
    {% if form.book_id.errors %}
        {{ form.book_id }}
        
        {% for error in form.book_id.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% else %}
        {{ form.book_id }}
    {% endif %}
    <br>
    {{ form.submit }}
</form>
{% endblock content %}