{% extends 'base.html' %}

{% block content %}
  <div class="table-container" style="display: grid; margin-top: 2rem; align-items: center; justify-content: center;">
    <table>
      <thead>
        <th>Name</th>
        <th>Class</th>
        <th>Books read</th>
      </thead>
      <tbody>
        {% for user, count in rep %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.class_section }}</td>
            <td>{{ count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
