{% extends 'base.html' %}

{% block content %}
  <div class="table-div">
  <table class="admin-logs">
    <tr>
      <th>Sl no</th>
      <th>USN</th>
      <th>Name</th>
      <th>Class and Section</th>
      <th>Borrowed Books</th>
    </tr>
    {% for log in logs %}
      <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.username }}</td>
        <td>{{ log.name }}</td>
        <td>{{ log.class_section }}</td>
        <td>{{ log.borrowed_entities }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
