{% extends 'base.html' %}

{% block content %}
  <table class="admin-logs">
    <tr>
      <td>Sl no</td>
      <td>USN</td>
      <td>Name</td>
      <td>Is Teacher</td>
      <td>Class and Section</td>
      <td>Borrowed Books</td>
    </tr>
    {% for log in logs %}
      <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.username }}</td>
        <td>{{ log.name }}</td>
        {% if log.is_teacher %}
          <td>Yes</td>
        {% else %}
          <td>No</td>
        {% endif %}
        <td>{{ log.class_section }}</td>
        <td>{{ log.borrowed_entities }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
