{% extends 'base.html' %}

{% block content %}
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" /> -->

  <table>
    <tr>
      <th>#</th>
      <th class="th-title">Title</th>
      <th>Author</th>
      <th>Call Number</th>
      <th>Accession Number</th>
      <th>Status</th>
      <th>Borrower</th>
      <th>Borrower USN</th>
    </tr>
    {% for book in books %}
      <tr>
        <td>{{ book.id }}</td>
        <td class="td-title">{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.call_number }}</td>
        <td>{{ book.accession_number }}</td>
        {% if book.is_borrowed %}
          <td>Borrowed</td>
        {% else %}
          <td>Not borrowed</td>
        {% endif %}
        <td>{{ book.user.name }}</td>
        <td>{{ book.user.username }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
