* {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

body {
    background-color: sandybrown;
    text-align: center;
}

hr {
    border: 1px solid green;
}

li {
    list-style-type: none;
}

form {
    display: inline-block;
}

div.wrapper {
    display: flex;
    justify-content: space-between;
}

div.wrapper>a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

span.logo {
    font-size: 20px;
}

#submit {
    background-color: red;
    font-family: Consolas;
    letter-spacing: 2px;
    border: none;
    padding: 5%;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 25px;
}

form {
    margin-top: 2vh;
    border-width: 10px;
}

a:hover {
    text-decoration: underline;
}

div>a:hover {
    text-decoration: underline;
}

a.footer-link {
    color: sandybrown;
    font-size: 20px;
    transition: 0.2s ease-in;
}

a.footer-link:hover {
    visibility: visible;
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}