/* @import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Pangolin&family=Quicksand:wght@700&family=Special+Elite&display=swap'); */

* {
    font-family: Quicksand;
    font-size: 36px;
    font-weight: 800;
}

:root {
    --school-color: #090B5C;
    --school-yellow: #F8C300;
}

/* F8C300 BRIGADE YELLOW  */
/* 090B5C BRIGADE BLUE */
h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/* 
html {
    background: rgb(48, 43, 139);
    background: linear-gradient(rgb(43, 81, 139), rgb(0, 96, 86));

    the gradient:
    background: rgb(78, 47, 255);
    background: linear-gradient(0deg, rgba(78, 47, 255, 1) 0%, rgba(26, 106, 179, 1) 53%);
} */

body {
    text-align: center;

    /* This one is a "good" */
    /* background: rgb(43, 81, 139); background: linear-gradient(rgb(43, 81, 139), rgb(0, 96, 86));  */
    height: 100%;
    background: rgb(78, 47, 255);
    background: linear-gradient(to bottom, rgba(78, 47, 255, 1) 0%, rgba(26, 106, 179, 1) 53%);
    background-size: 100% 100vh;
    background-attachment: fixed;
}

hr {
    margin: 0;
    border: 2px solid #0a46cb;
}

li {
    list-style-type: none;
}

form {
    display: inline-block;
}

div.wrapper {
    margin-top: 0;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

div.wrapper>a,
span.logo {
    font-size: 35px;
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    transition: 0.1s ease-in-out;
}


div.wrapper>a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(245, 255, 240);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div.wrapper>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

legend {
    color: white;
}

#submit {
    background-color: white;
    letter-spacing: 2px;
    border: none;
    padding: 5%;
    padding-left: 70px;
    background: rgb(248, 195, 0);
    background: linear-gradient(90deg, rgba(248, 195, 0, 1) 0%, rgba(209, 124, 55, 1) 100%);
    padding-right: 70px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 25px;
    transition: 0.6s;
}

#submit:hover {
    background-color: #F8C300;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 35px 0 rgba(0, 0, 0, 0.19);
}

#submit:active {
    transform: scale(1);
}

form {
    margin-top: 2vh;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 35px 0 rgba(0, 0, 0, 0.19);
    border-width: 10px;
}

.wrapper>a:hover {
    transform: scale(1.07);
}


.submit-btn {
    text-align: center;
}

.styled-form {
    margin-top: 45px;
}

.styled-form>fieldset>input {
    margin: 15px;
    display: block;
    color: white;
    width: 400px;
    font-size: 32px;
    transition: 0.4s ease-in-out;
    padding: 20px;
    border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) 30;
    border-width: 8px;
    border-style: solid;
    background: transparent;
}

.styled-form>fieldset>input:focus {
    transform: scaleX(1.04);
    font-size: 34px;
    border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) 30;
    border-width: 8px;
    border-style: solid;
}

fieldset {
    border: 0;
    /* border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) 30; */
    border-image: conic-gradient(red 0%, yellow 100%) 30;
    border-width: 8px;
    border-style: solid;
}

.styled-form>fieldset>input:focus-visible {
    border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) 30;
    border-width: 8px;
    border-style: solid;
    outline: 0;
}

.form {
    display: flex;
    justify-content: center;
    text-align: left;
}

span.form-error {
    display: block;
    color: orange;
    font-size: 24px;
}

table {
    font-size: 20px;
    border: 3px solid silver;
    margin: 10px;
    color: white;
    table-layout: fixed;
    position: relative;
}

th {
    position: sticky;
    background: rgb(16, 35, 126);
    top: 0;
    border-bottom: 5px solid silver;
}

td,
th {
    font-size: 20px;
    border: 3px solid silver;
    padding: 10px;
}

td.td-title {
    width: 200px;
    word-wrap: break-word;
}

.flash-message {
    margin-bottom: 5px;
    margin-top: 0;
    padding: 20px;
    border-image: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) 30;
    border-width: 4px;
    border-style: solid;
}

.message {
    color: white;
}

.alert {
    background: red;
}

.admin-tools-panel>a {
    display: inline-block;
    padding: 15px;
    font-size: 25px;
    font-weight: 800;
    text-align: left;
    background-color: #090B5C;
    color: aliceblue;
    border-radius: 15px;
    transition: 0.2s ease;
    margin: 15px;
}

.admin-tools-panel>a:hover {
    transform: scale(1.1);
}

.admin-tools-panel>a:focus-visible {
    outline: none;
}


.admin-tools-panel {
    text-align: left;
}

h3 {
    text-align: left;
    color: white;
    padding-left: 45px;
    text-decoration: underline;
}

.add-book-form>fieldset>label {
    font-size: 30px;
    margin: 0px;
    float: left;
    width: 300px;
    clear: both;
}

label {
    color: white;
}

.add-book-form>fieldset>input {
    font-size: 20px;
    color: white;
    background: transparent;
    padding: 10px;
    margin: 10px;
    outline: none;
    border: 1px solid silver;
}

#hide-inputs>label {
    font-size: 30px;
    margin: 0px;
    float: left;
    width: 300px;
    clear: both;
}

#hide-inputs>input {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: white;
    background: transparent;
    border: 1px solid silver;
    outline: none;
}

textarea {
    padding: 15px;
    font-size: 20px;
    width: 95%;
    height: 100px;
    background: transparent;
    margin-right: 10px;
    color: white;
    margin-top: 10px;
    outline: none;
}

select {
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    padding-right: 40px;
}

select>option {
    font-size: 20px;
}

.error-message {
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.error-help {
    font-size: 15px;
    text-decoration: underline;
    color: #0a46cb;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

span#hide-inputs {
    font-size: 20px;
}

input#password {
    letter-spacing: 20px;
}

body>div.form>form>fieldset>label {
    margin-top: 14px;
    color: white;
}

#hide-inputs>label {
    margin-top: 14px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.hero {
    text-align: left;
    color: white;
    display: flex;
}

.hero>img {
    margin-left: 100px;
    margin-top: 25px;
    max-width: 500px;
}

.hero>.title {
    /* animation: 0.4s ease-in 0s 1 slideInLeft; */
    margin-top: 90px;
    font-family: 'Special Elite';
    margin-left: 150px;
    font-size: 5em;
    /* background: linear-gradient(90deg, rgba(248, 195, 0, 1) 0%, rgba(248, 195, 0, 1) 25%, rgb(0, 132, 255) 100%); */
    background: rgba(248, 195, 0, 1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

.sub-heading {
    /* animation: 0.5s ease-in 0s 1 slideInLeft; */
    font-family: 'Quicksand';
    font-weight: 800;
    font-size: 44px;
    margin-left: 150px;
    margin-top: 90px;
    background: linear-gradient(to right, white, aliceblue, white);
    /* background: linear-gradient(90deg, rgba(248, 195, 0, 1) 0%, rgb(0, 132, 255) 100%); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: fit-content;
    word-wrap: break-word;
}

.main-body::-webkit-scrollbar {
    display: none;
}