* {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

body {
    background: #F2F2F2;
}

#showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), url("../img/home_bg.jpg");
    background-size: cover;
    height: 100dvh;
}

.hero {
    margin-top: 5%;
    margin-left: 7%;
    color: white;
    font-family: 'SF Pro Display';
    font-size: 45px;
    max-width: 55%;
    padding: 2%;
}

.hero>h1 {
    margin-top: 2.4rem;
    font-size: 5rem;
}

.hero>h2 {
    font-size: 3rem;
}

.hero>h1,
.hero>h2 {
    font-family: 'SF Pro Display';
}

.btn-holder {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cta-button {
    font-family: 'SF Pro Display';
    font-size: 30px;
    text-decoration: none;
    background: rgba(255, 0, 0, 0);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    transition: 0.2s;
    border: 3px solid #ff5e19;
}

.cta-button:hover {
    background: #ff5e19;
    cursor: pointer;
    transform: translateY(-0.1em);
    box-shadow: rgba(255, 213, 213, 0.23) 0px 10px 36px 0px, rgba(255, 213, 213, 0.23) 0px 0px 0px 1px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background: #ff9900;
}

.home-wrapper {
    background: rgba(0, 0, 0, 0.65);
}

.wrapper a {
    font-size: 27px;
    font-family: 'SF Pro Display';
    font-weight: 800;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.1s ease-in-out;
    margin: 15px;
}

.home-wrapper a {
    color: white;
}

div.wrapper>a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(245, 255, 240);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div.wrapper>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.flash-message {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    padding: 20px;
    border-style: solid;
    text-align: left;
    font-family: 'SF Pro Display';
    font-weight: 800;
    font-size: 26px;
}

.message {
    color: white;
}

table {
    border: 3px solid black;
    margin: 10px;
    color: black;
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
}

th {
    position: sticky;
    background: rgb(16, 35, 126);
    top: 0;
    color: white;
    border-bottom: 5px solid rgb(34, 1, 197);
}

td,
th {
    font-size: 16px;
    border: 3px solid black;
    border-collapse: collapse;
    padding: 7px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td.td-title {
    max-width: 60vh;
    word-wrap: break-word;
}

td>a {
    color: black;
    font-size: inherit;
}

.table-div {
    display: grid;
    align-items: center;
}

.borrowed-row {
    background: green;
    color: white;
}

.overdue-row {
    background: red;
    color: white;
}

tr>td>a {
    color: inherit;
}

.clickable-row:hover {
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    margin: 45px 0px;
    text-align: center;
}

.stat {
    width: 300px;
    border: 5px solid rgb(90, 87, 87);
    border-radius: 14px;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.24), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
}

.stat>h1 {
    padding: 50px;
    font-size: 65px;
    font-family: 'Special Elite';
    font-weight: 800;
}

.stat>h3 {
    font-size: 34px;
    padding: 10px;
    font-family: 'SF Pro Display';
    font-weight: bolder;
    margin-bottom: 30px;
}

form {
    font-size: 24px;
}

.details-title {
    margin: 20px;
}

.return-remarks {
    display: block;
    font-size: 20px;
    width: 97%;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
}

.return-remarks-label {
    font-weight: 800;
    padding: 10px;
    display: block;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-platter {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.form-btn {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
}

.form-btn:hover {
    text-decoration: underline;
}

.styled-form {
    margin: 1em;
    max-width: 40%;
}

.styled-form>fieldset {
    padding: 1.2em;
}

#submit {
    padding: 10px 0.9cm;
    margin: 0.9em 0em;
    background-color: rgb(255, 153, 0);
    border: 3px solid gray;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}

#submit:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.logo {
    font-size: 54px;
    margin: 0.8em 0.5em;
    font-family: 'SF Pro Display';
}

.form-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.styled-form input,
.styled-form select {
    padding: 10px 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion) {
    * {
        transition: 0;
        animation: none;
    }
}

.admin-tools-panel>div>a {
    display: inline-block;
    padding: 15px;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    background-color: #090B5C;
    border-radius: 15px;
    transition: 0.2s ease;
    width: 225px;
    max-width: 220px;
    text-decoration: none;
    color: white;
}

.admin-tools-panel>div>a:hover {
    text-decoration: underline;
}

.admin-tools-panel>div>a:focus-visible {
    outline: none;
}

.admin-tools-panel {
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 10px;
    margin-top: 10px;
}

.tool {
    border: 2px dashed silver;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tool>p {
    font-size: 20px;
    color: black;
    padding: 10px;
    line-height: 1.5;
    margin-bottom: 0;
}

.tool>svg {
    display: block;
    fill: var(--school-yellow);
    margin: 30px 0px;
    height: 30px;
}

.form-grid {
    display: grid;

}

.form-grid label {
    margin: 10px 0px;
}

.form-grid label:nth-of-type(1) {
    margin-top: 0;
}

.entity-form {
    margin: 1em;
    max-width: 65vw;
}

.entity-form fieldset {
    padding: 1em;
}

textarea#reason {
    padding: 0.8rem;
    height: 180px;
    font-size: 22px;
}

div.form-grid>label:nth-child(5) {
    font-size: 22px;
}

.textarea-form {
    max-width: 60%;
}

.form-error {
    color: red;
    font-size: 17px;
    font-weight: 600;
}

.errored-input {
    border: 3px solid red;
}

.submit-reason {
    border-collapse: collapse;
    word-wrap: break-word;
    overflow: visible;
    white-space: unset;
    font-size: 19px;
    max-width: 40vw;
}

.pagination {
    margin-bottom: 25px;
    margin-top: 25px;
}

.pagination a {
    text-align: center;
    color: blue;
}

.center-container {
    display: grid;
    place-content: center;
}

.pagination a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    border: 2px solid #090B5C;
    padding: 7px;
    margin: 2px;
    transition: 0.2s;
}

.pagination a:hover {
    background: #090B5C;
    color: white;
    text-decoration: underline;
}

.pagination .pagenum-current {
    background: #090B5C;
    color: white;
}

/* 
.entity-form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
} */