:root {
    /* --denim: #001427;
    --gamboge: #708d81;
    --tangerine: #f4d58d;
    --cinnabar: #bf0603;
    --diol-color: #8d0801; */

    --denim: #001427;
    --gamboge: #f0a202ff;
    --tangerine: #f18805ff;
    --cinnabar: #cc2e00;
    --blue-munsell: #7B9E89;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'SF Pro Display';
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

body {
    background: #F2F2F2;
}

#showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), url("../img/home_bg.jpg");
    background-size: cover;
    height: 100dvh;
}

.hero {
    margin-top: 5%;
    margin-left: 7%;
    color: white;
    font-family: 'SF Pro Display';
    font-size: 45px;
    max-width: 55%;
    padding: 2%;
}

.hero>h1 {
    margin-top: 2.4rem;
    font-size: 5rem;
}

.hero>h2 {
    font-size: 3rem;
}

.hero>h1,
.hero>h2 {
    font-family: 'SF Pro Display';
}

.btn-holder {
    display: block;
    margin-top: 10%;
    margin-bottom: 10%;
}

.cta-button {
    font-family: 'SF Pro Display';
    font-size: 30px;
    text-decoration: none;
    background: rgba(255, 0, 0, 0);
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    transition: 0.2s;
    border: 3px solid #ff5e19;
}

.cta-button:hover {
    background: #ff5e19;
    cursor: pointer;
    transform: translateY(-0.1em);
    box-shadow: rgba(255, 213, 213, 0.23) 0px 10px 36px 0px, rgba(255, 213, 213, 0.23) 0px 0px 0px 1px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    background: #ff9900;
}

.home-wrapper {
    background: rgba(0, 0, 0, 0.65);
}

.wrapper a {
    font-size: 24px;
    font-family: 'SF Pro Display';
    font-weight: 800;
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    transition: 0.1s ease-in-out;
    margin: 15px;
}

.home-wrapper a {
    color: white;
}

div.wrapper>a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(245, 255, 240);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

div.wrapper>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.flash-message-home {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 0;
    padding: 15px;
    border-style: solid;
    text-align: left;
    font-family: 'SF Pro Display';
    font-weight: 800;
    font-size: 23px;
}

.flash-message {
    background: var(--gamboge);
    border-style: none;
}

.message {
    color: white;

}

table {
    border: 3px solid black;
    margin: 10px;
    color: black;
    table-layout: fixed;
    position: relative;
    border-collapse: collapse;
}

a#submit {
    text-decoration: none;
    color: black;
}
th {
    position: sticky;
    background: var(--denim);
    top: 0;
    color: white;
    border-bottom: 5px solid var(--denim);
}

td,
th {
    font-size: 16px;
    border: 3px solid black;
    border-collapse: collapse;
    padding: 7px;
    text-align: left;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
        */
}

td.td-title {
    max-width: 60vh;
    word-wrap: break-word;
}

td>a {
    color: black;
    font-size: inherit;
}

.table-div {
    display: grid;
    align-items: center;
}

.borrowed-row {
    background: green;
    color: white;
}

.overdue-row {
    background: red;
    color: white;
}

tr>td>a {
    color: inherit;
}

.clickable-row:hover {
    cursor: pointer;
}

/* 
.stats {
    display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    text-align: center;
}

.stat {
    width: 300px;
    border: 2px solid rgb(90, 87, 87);
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.24), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
}

.stat>h1 {
    padding: 50px;
    font-size: 65px;
    font-family: 'Special Elite';
    font-weight: 800;
}

.stat>h3 {
    font-size: 34px;
    padding: 10px;
    font-family: 'SF Pro Display';
    font-weight: bolder;
    margin-bottom: 30px;
}

*/
form {
    font-size: 24px;
}

.details-title {
    margin: 20px;
}

.return-remarks {
    display: block;
    font-size: 20px;
    width: 97%;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
}

.return-remarks-label {
    font-weight: 800;
    padding: 10px;
    display: block;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-platter {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.form-btn {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
}

.form-btn:hover {
    text-decoration: underline;
}

.styled-form {
    margin: 1em;
    max-width: 40%;
}

.styled-form>fieldset {
    padding: 1.2em;
}

#submit {
    padding: 10px 0.9cm;
    margin: 0.9em 0em;
    background-color: var(--gamboge);
    outline: 0;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}

#submit:hover {
    text-decoration: underline;
    border-radius: 5px;
}

.logo {
    font-size: 45px;
    margin: 1em 0.5em;
    font-family: 'SF Pro Display';
    text-align: center;
}

.form-container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
}

.styled-form input,
.styled-form select {
    padding: 10px 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion) {
    * {
        transition: 0;
        animation: none;
    }
}

@media (print) {
    nav.admin-tools-panel {
        display: none !important;
    }
}
/* .admin-tools-panel>div>a {
    display: inline-block;
    padding: 15px;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    background-color: #090B5C;
    border-radius: 15px;
    transition: 0.2s ease;
    width: 225px;
    max-width: 220px;
    text-decoration: none;
    color: white;
}

.admin-tools-panel>div>a:hover {
    text-decoration: underline;
}

.admin-tools-panel>div>a:focus-visible {
    outline: none;
}

.admin-tools-panel {
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 10px;
    margin-top: 10px;
}

.tool {
    border: 2px dashed silver;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.tool>p {
    font-size: 20px;
    color: black;
    padding: 10px;
    line-height: 1.5;
    margin-bottom: 0;
}

.tool>svg {
    display: block;
    fill: var(--school-yellow);
    margin: 30px 0px;
    height: 30px;
}

*/
.form-grid {
    display: grid;

}

.form-grid label {
    margin: 10px 0px;
}

.form-grid label:nth-of-type(1) {
    margin-top: 0;
}

.entity-form {
    margin: 1em;
    max-width: 65vw;
}

.entity-form fieldset {
    padding: 1em;
}

textarea#reason {
    padding: 0.8rem;
    height: 180px;
    font-size: 22px;
}

div.form-grid>label:nth-child(5) {
    font-size: 22px;
}

.textarea-form {
    max-width: 60%;
}

.form-error {
    color: red;
    font-size: 17px;
    font-weight: 600;
}

.errored-input {
    border: 3px solid red;
}

.submit-reason {
    border-collapse: collapse;
    word-wrap: break-word;
    overflow: visible;
    white-space: unset;
    font-size: 19px;
    max-width: 40vw;
}

.pagination {
    margin-bottom: 25px;
    margin-top: 25px;
}

.pagination a {
    text-align: center;
    color: blue;
}

.center-container {
    display: grid;
    place-content: center;
}

.pagination a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    border: 2px solid #090B5C;
    padding: 7px;
    margin: 2px;
    transition: 0.2s;
}

.pagination a:hover {
    background: #090B5C;
    color: white;
    text-decoration: underline;
}

.pagination .pagenum-current {
    background: #090B5C;
    color: white;
}

.login-form-container {
    display: grid;
    place-items: center;
}

.login-form input,
.login-form select,
.login-form option {
    min-width: 20vw;
    padding: 10px;
    margin-top: 10px;
}

.login-form fieldset {
    padding: 20px;
}

.login-form-container .login-form {
    font-size: 20px;
}

#borrow-btn {
    color: aliceblue;
    background: #090B5C;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    max-width: fit-content;
    padding: 15px 40px;
    transition: 0.3s;
}

#borrow-btn:hover {
    text-decoration: underline;
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.24), 0 5px 6px 0 rgba(0, 0, 0, 0.19);
}

.container h1 {
    padding-bottom: 20px;
}

.button-container {
    text-align: center;
    margin: 15px 0px;
}

#hidden-tr td {
    border: 0;
}

.mini-form {
    font-size: 16px;
}

.issue-btn {
    display: block;
    margin-top: 10px;
}

.entity-form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.entity-form input {
    padding: 5px;
    font-size: 16px;
}

.entity-form {
    font-size: 14px;
}

#remarks {
    padding: 0.8rem;
    height: 50px;
    font-size: 14px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.212);
    color: rgba(255, 255, 255, 0.433);
    text-align: center;
    font-family: monospace;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 0;
}

.footer span {
    font-family: inherit;
    font-size: inherit;
}

.footer-link {
    color: rgba(255, 255, 255, 0.433);
    font-family: monospace;
}

.privacy-policy {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    text-align: justify;
    line-height: 1.3em;

    h1,
    h2,
    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1.3fr 6fr;
}


nav.admin-tools-panel {
    background-color: var(--denim);
    min-height: 100vh;
}

nav.admin-tools-panel {
    svg {
        fill: var(--tangerine);
        height: 1.4em;
    }

    .small-logo {
        color: white;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .logo-text {
        margin-top: 10px;
        font-size: 30px;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .logout-link {
        color: white;
    }
}

nav.admin-tools-panel div.small-logo svg {
    height: 5em;
}

.navbar-links a {
    color: white;
    display: block;
    padding: 14px;
    text-decoration: none;
}

.navbar-links>svg {
    fill: var(--tangerine);
    height: 1em;
}

.navbar-links {
    display: grid;
    align-items: center;
    justify-content: center;
}

.navbar-link,
.logout-link {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 6fr;
    padding: 0 30px;
    transition: 0.2s;
}

.navbar-link:hover {
    a {
        color: var(--denim);
    }

    svg {
        fill: var(--denim);
    }
}

.navbar-link:hover {
    cursor: pointer;
    background: var(--tangerine);
}

.logout-link:hover {
    background: red;

    svg {
        fill: white;
    }
}

.dashboard {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 3fr;
}

.dashboard .banner {
    display: grid;
    align-items: center;
    height: min-content;
    padding: 10px;
    font-weight: 800;
    font-size: 18px;
}

.banner h1 {
    margin-top: 18px;
    margin-left: 18px;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}


.stat {
    height: fit-content;
    padding: 10px 30px;
    border-radius: 15px;
    width: 256px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.stat h1 {
    margin-top: 15px;
    font-size: 38px;
}

.stat h3 {
    font-size: 22px;
    margin-top: 10px;
}

.stats>div:nth-child(1) {
    background-color: var(--gamboge);
}

.stats>div:nth-child(2) {
    background-color: var(--tangerine);
}

.stats>div:nth-child(3) {
    background-color: var(--cinnabar);
    color: white;
}

.stats>div:nth-child(4) {
    background-color: var(--blue-munsell);
    color: white;
}

.transactions .name-details {
    display: flex;
}

.name-details>p:nth-child(2) {
    background-color: var(--cinnabar);
    color: white;
    font-size: 10px;
    padding: 6px;
    margin: 0 3px;
    border-radius: 4px;
    text-align: center;
}

.transactions {
    margin-top: 25px;
    margin-left: 28px;
}

.transactions h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.transaction-list td {
    border: 0;
    border: 1px solid silver;
    padding: 9px;
}

.transactions table {
    width: 97.5%;
    margin-left: 0;
}

.transactions .header {
    background: var(--denim);
    color: white;
}

.transactions tr>td:nth-child(5) {
    width: 20vw;
    white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* @keyframes keerthanafiresarocketshipatthenearsidecornerofthescreen {
    0% {
        position: relative;
    }

    10% {
        transform: rotate(-2deg);
    }

    15% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(-2deg);
    }

    22% {
        transform: rotate(2deg);
    }

    28% {
        transform: rotate(-2deg);
    }

}
*/
.button-container a#borrow-btn.danger-btn {
    background-color: var(--cinnabar);
}